In [1]:
b = [1,2,3]

In [2]:
# 변수 이름 앞이나 뒤에 ? 기호를 붙이면 그 객체에 대한 일반 정보를 출력 

b?

In [3]:
print?

In [4]:
def f(x,y,z):
    return (x + y)/z

a = 5
b = 6
c = 10

result = f(a,b,c)

In [5]:
result

1.1

In [6]:
a = 5; b = 6; c = 7

In [7]:
a,b,c

(5, 6, 7)

파이썬의 거의 모든 객체는 함수를 포함하고 있는데 이를 **method**라고 한다.

In [8]:
a = 4.5
b= 2

a/b

2.25

In [9]:
# isinstance 함수를 통해 어떤 객체가 무슨 자료형인지 검사할 수 있음. 

isinstance(a, int)

False

In [10]:
s = 3.141592

fval = float(s)
fval

3.141592

In [11]:
fval = int(s)
fval

3

In [12]:
x = 10

if x < 0 :
    print ("It's negative")
elif x == 0 :
    print("Same print")
elif 0 < x < 5 :
    print ("Positive but smaller than 5")
else :
    print("Positive bigger than 5")

Positive bigger than 5

In [13]:
a = 5 ; b = 7

c = 8 ; d = 4

if a < b or c < d :
    print('Made it')

Made it

a < b가 true 이므로 뒤에 있는 c < d 조건은 검사 하지 않는다.

In [14]:
# 여러 조건을 연결해서 사용하는 것도 가능하다.

4 > 3 > 2 > 1

True

In [15]:
sequence = [1,2,None,4,None,5]

total = 0

for value in sequence : 
    if value is None :
        continue
    total += value
    
total

12

In [16]:
sequence = [1,2,3,4,5,6,7]

total_until_5 = 0
for value in sequence :
    if value == 5:
        break
    total_until_5 += value
    
total_until_5

10

코드 5를 만날때까지 더하다가 5가 나오자 break를 통해 빠져나옴.

In [17]:
sequnece = [1,2,3,6,None,8]

total_None = 0

for value in sequence :
    if value == None :
        break
    total_None += value
    
total_None

28

In [18]:
for i in range (4) :
    for j in range(4) :
        if j>i :
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [19]:
x = 256
total = 0
while x > 0 :
    if total > 500:
        break
    total += x
    x = x // 2 
total

504

In [20]:
range(10)

range(0, 10)

In [21]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [24]:
seq = [1,2,3,4]
for i in range(len(seq)) :
    val = seq[i]
    
val

4

In [25]:
sum = 0

for i in range(100000) :
    if i % 3 == 0 or i % 5 == 0 :
        sum += i
print (i)

99999

# 자료형

파이썬의 자료구조는 단순하지만 강력하다. 자료구조의 사용법을 반드시 숙지하도록 하자!

### 순차 자료형
***
**Tuple**

1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형이다.
<br><br>
튜플을 생성하는 가장 쉬운 방법은 쉼표로 구분된 값을 대입하는 것이다.

In [26]:
tup = 1,2,3

tup

(1, 2, 3)

In [27]:
nested_tup = (1,2,3),(4,5)

nested_tup

((1, 2, 3), (4, 5))

괄호를 사용해서 값을 묶어줌으로써 중첩된 튜플을 정의할 수 있다.

In [28]:
tuple([0,4,1])

tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

#### tuple에 저장된 객체 자체는 변경이 가능하지만 한 번 생성되면 각 슬롯에 저장된 객체를 변경 하는 것은 불가능하다.

In [29]:
tup = tuple(['foo',[1,2],True])
tup

('foo', [1, 2], True)

#### tuple 내에 저장된 객체는 그 위치에서 바로 변경이 가능하다.

In [30]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

#### 연산자를 이용해서 tuple을 이어붙일 수 있다.

In [31]:
(4,None,'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

#### 튜플에 정수를 곱하면 리스트와 마찬가지로 tuple의 복사본이 반복되어 늘어난다.

In [32]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### tuple에서 값 분리하기

만일 tuple과 같은 표현의 변수에 tuple을 **대입**하면 파이썬은 등호 오른쪽에 있는 변수에서 값을 분리함.

In [33]:
tup = (4,5,6)

a, b, c = tup

b

5

#### 중첩된 tuple을 포함하는 순차 자료형에서도 값을 분리해낼 수 있다.

In [34]:
tup = 4,5,(6,7)

a,b,(c,d) = tup

d

7

#### 두 변수의 값을 쉽게 바꿀 수 있다.

In [35]:
a, b = 1,2
a,b

(1, 2)

In [36]:
b,a = a,b
b,a

(1, 2)

### tuple method

유용하게 사용되는 method중 하나는 주어진 값과 같은 값이 몇 개 있는지 반환하는 **count** method다.
(리스트에서도 사용이 가능하다!)

In [37]:
a = (1,2,2,3,4,5,2)

a.count(2)

3

## List

Tuple과 대조적으로 리스트는 크기나 내용의 변경이 가능하다. 리스트는 **대괄호 []**나 **list**함수를 사용하여 생성할 수 있다.

In [38]:
a_list = [23,3,4,1,5]
a_list

[23, 3, 4, 1, 5]

In [39]:
tup = ('foo','bar','baz')
b_list = list(tup)

b_list

['foo', 'bar', 'baz']

In [40]:
b_list[1] =  'peekaboo'

b_list

['foo', 'peekaboo', 'baz']

**append** 메소드를 사용해서 리스트의 끝에 새로운 값을 추가 할 수 있다.

In [41]:
b_list.append('Elf')

b_list

['foo', 'peekaboo', 'baz', 'Elf']

**insert** 메소드를 사용해서 리스트의 특정 위치에 값을 추가 할 수 있다.

In [42]:
b_list.insert(1,'Red')
b_list

['foo', 'Red', 'peekaboo', 'baz', 'Elf']

insert 메소드와 반대 개념으로 **pop** 메소드가 있다. **pop** 메소드는 특정 위치의 값을 반환하고 해당 값을 리스트에서 삭제한다.

In [43]:
b_list.pop(2)

b_list

['foo', 'Red', 'baz', 'Elf']

**remove** 메소드를 이용해서 리스트에 제일 앞에 위치한 값을 삭제한다.

In [44]:
b_list.append('foo')
print(b_list)

b_list.remove('foo')
print(b_list)

['foo', 'Red', 'baz', 'Elf', 'foo']
['Red', 'baz', 'Elf', 'foo']

튜플과 마찬가지로 + 연산자를 이용하면 두 개의 리스트를 합칠 수 있다.

In [45]:
[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

리스트를 미리 정의해두었다면 **extend** 메소드를 사용해서 여러 개의 값을 추가할 수 있다!

In [46]:
x = [4,None,'foo']

x.extend([7,8,(2,3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

#### 정렬

**sort** 함수를 이용해서 새로운 리스트를 생성하지 않고 있는 그대로 리스트를 정렬할 수 있다.

In [47]:
a = [7,2,5,1,3]

a.sort()

a

[1, 2, 3, 5, 7]

**sort는 정렬 기준으로 사용할 값을 반환할 수 있다.** 즉 다음과 같이 문자열이 들어 있는 리스트를 문자열의 길이 순으로 정렬할 수 있다.

In [48]:
b = ['saw','small','he','foxes','six']

b.sort(key=len)

b

['he', 'saw', 'six', 'small', 'foxes']

#### 슬라이싱

리스트와 같은 자료형 (배열 , 튜플, ndarray)은 색인 연산자 [] 안에 start : stop을 지정해서 원하는 크기만큼 잘라낼 수 있다!

In [49]:
seq = [1,2,3,4,5,6,6,7]

seq [1:6]

[2, 3, 4, 5, 6]

슬라이스에 다른 순차 자료형을 대입하는 것도 가능하다.

In [50]:
seq[3:4] = [6,3]

seq

[1, 2, 3, 6, 3, 5, 6, 6, 7]

음수 객체는 순차 자료형의 **끝에서부터의 위치**를 나타낸다

In [51]:
seq[-4:]

[5, 6, 6, 7]

두번째 콜론 다음에 간격(stop)를 지정할 수 있는데, **하나 걸러 다음 원소를 선택**하려면 다음과 같이 표현한다.

In [52]:
seq[::2]

[1, 3, 3, 6, 7]

간격 값으로 -1 사용시 리스트나 튜플 형태을 **역순으로 반환**한다.

In [53]:
seq[::-1]

[7, 6, 6, 5, 3, 6, 3, 2, 1]

### Enumerate

이 함수는 순차 자료형에서 현재 아이템의 index를 함께 처리하고자 할 때 흔히 사용한다.

인덱스를 통해 데이터에 접근할 때 enumerate를 사용하는 유용한 패턴은 순차 자료형에서의 값과 그 위치를 dict에 넘겨주는 것이다.

In [54]:
some_list = ['foo','bar','baz']

mapping = {}

for i, v in enumerate(some_list) :
    mapping[v] = i

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### sorted

sorted 함수는 정렬된 새로운 순차 자료형을 반환한다.

In [55]:
sorted([1,3,2,4,5,6])

[1, 2, 3, 4, 5, 6]

In [56]:
sorted('house race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 's', 'u']

### Zip

zip 함수는 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성한다.

In [57]:
seq1 = ['foo','bar','baz']

seq2 = ['one','two','three']

zipped = zip(seq1,seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

zip 함수는 여러 개의 순차 자료형을 받을 수 있으며 반환되는 리스트의 크기는 넘겨받은 순차 자료형 중 **가장 짧은** 크기로 정해진다

In [58]:
seq3 = [False,True]

list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

zip 함수의 아주 흔한 사용 예는 여러 개의 순차 자료형을 동시에 순회하는 경우인데 enumerate와 함께 사용되기도 한다.

In [59]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

### reversed

**reversed**는 순차 자료형을 역순으로 순회한다.

In [60]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict

일반적으로 해시맵 또는 연관 배열이라고 알려져 있으며 유연한 크기를 가지는 **키 - 값** 쌍으로, **키 , 값**은 모두 파이썬 객체다.
<br><br>
사전을 생성하는 방법은 중괄호 {}를 사용하여 콜론으로 구분된 키와 값을 둘러싸는 것이다.

In [61]:
empty_dict = {}

d1 = {'a' : 'some value','b' : [1,2,3,4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

리스트나 튜플을 사용하는 것처럼 사전의 값에 접근하거나 값을 입력할 수 있다.

In [62]:
d1[7] = 'an integer'

d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

사전에 어떤 키가 있는 지 확인하는 것도 리스트나 튜플과 같은 문법으로 확인 가능하다!

In [63]:
'b' in d1

True

del 예약어나 pop 메소드(값을 반환함과 동시에 해당 키를 삭제한다)를 사용해서 사전의 값을 삭제할 수 있다.

In [64]:
d1[5] = 'some value'

In [65]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [66]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [67]:
del d1[5]

d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [68]:
ret = d1.pop('dummy')
ret

'another value'

In [69]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

**update** 메소드를 사용해서 하나의 사전을 다른 사전과 합칠 수 있다.

### 사전 표기법

In [70]:
d1.update({'b' : 'foo', 'c' : [12,3,5]})

d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': [12, 3, 5]}

In [71]:
words = ['apple','mouse','LOL','coffee']
by_letter = {}

for word in words :
    letter = word[0]
    if letter not in by_letter :
        by_letter[letter] = [word]
    else : 
        by_letter[letter].append(word)

In [72]:
by_letter

{'a': ['apple'], 'm': ['mouse'], 'L': ['LOL'], 'c': ['coffee']}

## 집합

유일한 원소만 담는 정렬되지 않은 자료형이다.
<br>

사전과 유사하지만 값은 없고 키만 가지고 있다고 생각하면 된다.
<br>

집합은 **set**함수를 이용하거나 중괄호를 이용해서 생성할 수 있다.

In [73]:
set([2,3,5,5,1,6])

{1, 2, 3, 5, 6}

In [74]:
{2,13,32,1,4,3}

{1, 2, 3, 4, 13, 32}

집합은 합집합, 교집합, 차집합, 대칭차집합 같은 산술 **집합 연산**을 제공한다.

In [75]:
a = {1,2,3,5,6,7,11}
b = {8,9,10,11,12,13,14}

두 집합의 합집합은 두 집합의 모든 원소를 모은 집합이다. **union**메소드를 사용하거나 **|** 이항 연산자로 구할 수 있다.

In [76]:
a.union(b)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [77]:
a|b

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

교집합은 두 집합에 공통으로 존재하는 원소만 모은 집합이다. **intersection** 메소드를 사용하거나 **&** 이항연산자로 구할 수 있다.

In [78]:
a.intersection(b)

{11}

In [79]:
a & b

{11}