In [2]:
b = [1,2,3]

In [3]:
# 변수 이름 앞이나 뒤에 ? 기호를 붙이면 그 객체에 대한 일반 정보를 출력 

b?

In [5]:
print?

In [8]:
def f(x,y,z):
    return (x + y)/z

a = 5
b = 6
c = 10

result = f(a,b,c)

In [9]:
result

1.1

In [11]:
a = 5; b = 6; c = 7

In [12]:
a,b,c

(5, 6, 7)

파이썬의 거의 모든 객체는 함수를 포함하고 있는데 이를 **method**라고 한다.

In [15]:
a = 4.5
b= 2

a/b

2.25

In [17]:
# isinstance 함수를 통해 어떤 객체가 무슨 자료형인지 검사할 수 있음. 

isinstance(a, int)

False

In [25]:
s = 3.141592

fval = float(s)
fval

3.141592

In [21]:
fval = int(s)
fval

3

In [41]:
x = 10

if x < 0 :
    print ("It's negative")
elif x == 0 :
    print("Same print")
elif 0 < x < 5 :
    print ("Positive but smaller than 5")
else :
    print("Positive bigger than 5")

Positive bigger than 5

In [42]:
a = 5 ; b = 7

c = 8 ; d = 4

if a < b or c < d :
    print('Made it')

Made it

a < b가 true 이므로 뒤에 있는 c < d 조건은 검사 하지 않는다.

In [44]:
# 여러 조건을 연결해서 사용하는 것도 가능하다.

4 > 3 > 2 > 1

True

In [49]:
sequence = [1,2,None,4,None,5]

total = 0

for value in sequence : 
    if value is None :
        continue
    total += value
    
total

12

In [51]:
sequence = [1,2,3,4,5,6,7]

total_until_5 = 0
for value in sequence :
    if value == 5:
        break
    total_until_5 += value
    
total_until_5

10

코드 5를 만날때까지 더하다가 5가 나오자 break를 통해 빠져나옴.

In [66]:
sequnece = [1,2,3,6,None,8]

total_None = 0

for value in sequence :
    if value == None :
        break
    total_None += value
    
total_None

28

In [57]:
for i in range (4) :
    for j in range(4) :
        if j>i :
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [82]:
x = 256
total = 0
while x > 0 :
    if total > 500:
        break
    total += x
    x = x // 2 
total

504

In [83]:
range(10)

range(0, 10)

In [84]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [87]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [89]:
seq = [1,2,3,4]
for i in range(len(seq)) :
    val = seq[i]
    
val

4

In [95]:
sum = 0

for i in range(100000) :
    if i % 3 == 0 or i % 5 == 0 :
        sum += i
print (i)

99999