### 누락된 데이터 처리하기

In [1]:
import numpy as np
import pandas as pd

In [2]:
string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado'])

In [3]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [4]:
# NaN 값 찾기

string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
string_data[0] = None

In [6]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

### 누락된 데이터 골라내기

**dropna**메소드를 적용하여 null이 아닌 데이터와 색인값만 들어 있는 Series를 반환할 수 있다.

In [7]:
from numpy import nan as NA

In [8]:
data = pd.Series([1,NA,3.5,NA,7])

In [9]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

위 코드를 다음과 같이 동일하게 표현도 가능하다.

In [10]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

DataFrame 객체의 경우 dropna는 기본적으로 NA값을 하나라도 포함하고 있는 로우를 제외시킨다.

In [14]:
data = pd.DataFrame([[1,2,3,4],[1.,NA,NA,NA],[5,3,1,2],[NA,NA,NA,NA]])

In [15]:
cleaned = data.dropna()

In [16]:
cleaned

     0    1    2    3
0  1.0  2.0  3.0  4.0
2  5.0  3.0  1.0  2.0

**how = 'all'** 옵션을 넘기면 모두 NA 값인 로우만 제외시킨다.

In [17]:
data.dropna(how = 'all')

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  1.0  NaN  NaN  NaN
2  5.0  3.0  1.0  2.0

컬럼을 제외시키는 방법도 동일하게 동작한다. 옵션으로 axis = 1을 넣어주면 된다.

In [19]:
# data 4번째 컬럼 NA로 채우기

data[4] = NA

data

     0    1    2    3   4
0  1.0  2.0  3.0  4.0 NaN
1  1.0  NaN  NaN  NaN NaN
2  5.0  3.0  1.0  2.0 NaN
3  NaN  NaN  NaN  NaN NaN

In [20]:
data.dropna(axis = 1 ,how = 'all')

     0    1    2    3
0  1.0  2.0  3.0  4.0
1  1.0  NaN  NaN  NaN
2  5.0  3.0  1.0  2.0
3  NaN  NaN  NaN  NaN