# Numpy

**Numerical Python**의 줄임말로, 파이썬에서 산술 계산을 위한 가장 중요한 필수 패키지 중 하나이다.

In [1]:
# numpy 호출

import numpy as np

In [2]:
# 임의의 값 생성

data = np.random.randn(2,3)

In [3]:
data

array([[-0.01336126,  0.04157449,  2.11431689],
       [ 1.3354854 ,  1.77692639,  0.48325456]])

In [4]:
data*10

array([[-0.13361256,  0.41574491, 21.14316885],
       [13.35485401, 17.76926387,  4.83254559]])

In [5]:
data + data

array([[-0.02672251,  0.08314898,  4.22863377],
       [ 2.6709708 ,  3.55385277,  0.96650912]])

**ndarray**는 같은 종류의 데이터를 담을 수 있는 포괄적인 다차원 배열이다.

ndarray의 모든 원소는 같은 자료형이어야 한다.

**shape** : 모든 배열의 각 차원의 크기를 알려준다.


**dtype** : 튜플과 배열에 저장된 자료형을 알려주는 객체

In [7]:
data.shape

(2, 3)

In [8]:
data.dtype

dtype('float64')

배열을 생성하는 가장 쉬운 방법은 array 함수를 이용하는 것이다

In [10]:
data1 = [6,7,8,0,1]

arr1 = np.array(data1)

arr1

array([6, 7, 8, 0, 1])

같은 길이의 리스트를 가진 데이터는 다차원 배열로 변환 가능하다.

In [15]:
data2 = [[1,3,4,5,6],[4,2,8,7,9.1]]

arr2 = np.array(data2)

arr2

array([[1. , 3. , 4. , 5. , 6. ],
       [4. , 2. , 8. , 7. , 9.1]])

In [12]:
arr2.shape

(2, 5)

명시적으로 지정하지 않는 한 np.array는 생성될 때 적절한 자료형을 추론한다. 추론된 자료형은 dtype 객체에 저장된다.

In [16]:
arr1.dtype

dtype('int32')

In [17]:
arr2.dtype

dtype('float64')

**np.zeros** , **np.ones** 함수는 주어진 길이나 모양에 각각 0과 1이 들어 있는 배열을 생성한다.

이런 메소드를 사용해 다차원 배열을 생성하려면 원하는 형태의 튜플을 넘기면 된다.

In [18]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [20]:
np.zeros((3,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [21]:
np.zeros((2,3,2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

**arange**는 파이썬의 range 함수의 배열 버전이다.

In [22]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

### ndarray의 dtype

**dtype**은 ndarray가 메모리에 있는 특정 데이터를 해석하기 위해 필요한 정보를 담고 있는 특수한 객체이다

In [23]:
arr1 = np.array([1,2,3],dtype = np.float64)

In [24]:
arr2 = np.array([1,2,3],dtype = np.int32)

In [25]:
arr1.dtype

dtype('float64')

In [26]:
arr2.dtype

dtype('int32')

ndarray의 astype 메소드를 사용해서 배열의 dtype을 다른 형으로 명시적으로 변한이 가능하다.

In [28]:
arr = np.array([1,2,3,4,5])

arr.dtype

dtype('int32')

In [29]:
float_arr = arr.astype(np.float64)
float_arr.dtype

dtype('float64')

소수가 있는 실수형을 정수형으로 변환시 소수점 아래 자리는 버려진다.

In [31]:
arr1 = np.array([1.2,3.1,-1.5,2])

arr1.dtype

dtype('float64')

In [33]:
int_arr1 = arr1.astype(np.int32)
int_arr1

array([ 1,  3, -1,  2])

숫자 형식의 문자열을 담고 있는 배열이 있다면 astype을 사용하여 숫자로 변환 할 수 있다.

In [36]:
arr2 = np.array(['1','15','2.5'],dtype = np.string_)
arr2

array([b'1', b'15', b'2.5'], dtype='|S3')

In [37]:
arr2.astype(float)

array([ 1. , 15. ,  2.5])

### Numpy 배열의 산술 연산

배열의 중요한 특징은 for문을 작성하지 않고 데이터를 일괄 처리할 수 있다는 것이다.
이를 **벡터화**라고 하는데, 같은 크기의 배열 간의 산술 연산은 배열의 각 원소 단위로 적용된다.

In [39]:
arr = np.array([[1.,2.,3.],[4.,5.,6.]])
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [40]:
arr * arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [41]:
arr - arr

array([[0., 0., 0.],
       [0., 0., 0.]])

스칼라 인자가 포함된 산술 연산의 경우 배열 내의 모든 원소에 스칼라 인자가 적용된다.

In [42]:
1 / arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [43]:
arr ** 0.5

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

같은 크기를 가지는 배열 간의 비교 연산은 불리언 배열을 반환한다.

In [44]:
arr2 = np.array([[0.,4.,1.],[7.,2.,12.]])
arr2

array([[ 0.,  4.,  1.],
       [ 7.,  2., 12.]])

In [45]:
arr2 > arr

array([[False,  True, False],
       [ True, False,  True]])

### 색인과 슬라이싱

In [47]:
arr = np.arange(9)

arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [48]:
arr[5]

5

In [49]:
arr[5:8]

array([5, 6, 7])

In [50]:
arr[5:8] = 12

arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8])

arr[5:8] = 12 처럼 배열 조각에 스칼라 값을 대입하면 12가 선택 영역 전체로 전파된다. 즉 데이터는 복사되지 않고 그대로 원본 배열에 변경을 반영한다.

In [53]:
arr_slice = arr[5:8]
arr_slice

array([12, 12, 12])

arr_slice의 값을 변경하면 원래 배열인 arr의 값도 바꾸어 있음을 알 수 있다.

In [54]:
arr_slice[1] = 12345

arr

array([    0,     1,     2,     3,     4,    12, 12345,    12,     8])

단순히 [:]로 슬라이스를 하면 배열의 모든 값을 배열한다.

In [55]:
arr_slice[:] = 64

arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8])

다차원 배열에서는 각 색인에 해당하는 요소는 스칼라 값이 아니라 1차원 배열이다.

In [57]:
arr2d = np.array([[1,2,3],[4,5,6],[7,8,9]])

arr2d[2]

array([7, 8, 9])

개별 요소는 다음 두 표현을 사용하여 접근한다.

In [58]:
arr2d[0][2]

3

In [59]:
arr2d[0,2]

3

In [63]:
arr3d = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [64]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [67]:
arr_values = arr3d[0].copy()

ndarray 슬라이스의 복사본을 얻고자 할 때는 arr3d[0].copy()를 사용해서 배열을 복사해야 한다.

In [72]:
arr3d[0] = 42
arr3d

array([[[42, 42, 42],
        [42, 42, 42]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [73]:
arr3d[0] = arr_values
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [74]:
arr3d[1,0]

array([7, 8, 9])

In [76]:
x = arr3d[1]
x

array([[ 7,  8,  9],
       [10, 11, 12]])

In [77]:
x[0] # 2번에 걸친 인덱싱으로 arr3d[1,0]과 동일한 값이 나온다

array([7, 8, 9])

### 슬라이스로 선택하기

파이썬의 리스트 같은 1차원 객체처럼 ndarray는 익숙한 문법으로 슬라이싱 할 수 있다.

In [78]:
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8])

In [79]:
arr[1:6]

array([ 1,  2,  3,  4, 64])

In [80]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [84]:
arr2d[:2]

# arr2d의 첫번째 행부터 2번째 행까지

array([[1, 2, 3],
       [4, 5, 6]])

In [85]:
arr2d[:2,1:]

# arr2d의 시작부터 2번째 행까지, 2번째 열부터 끝까지

array([[2, 3],
       [5, 6]])

In [86]:
arr2d[1,:2]

# 2번째 행을 출력하되 2번째 열 까지만 출력

array([4, 5])

In [89]:
arr2d[2,1:3]

# 3번째 행을 출력하되 처음 제외 나머지 열만 출력

array([8, 9])

In [90]:
arr2d[:,:1]

# 그냥 콜론만 사용시 전체 축을 선택한다는 의미

array([[1],
       [4],
       [7]])

슬라이싱 구문에 값을 대입하면 선택 영역 전체에 값이 대입된다.

In [94]:
arr2d[:2,1:] = 0

arr2d

array([[1, 0, 0],
       [4, 0, 0],
       [7, 8, 9]])

### 팬시 색인(Fancy indexing)

정수 리스트(혹은 배열)를 이용하여 여러 개를 동시에 선택하는 방식이다.

In [116]:
arr = np.empty((8,4))

for i in range(8) :
    arr[i] = i

arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [117]:
arr[[4,1,6,7]]

# 특정한 순서로 행을 선택할 시 그냥 원하는 순서대로 ndarray나 리스트에 입력하면 된다.

array([[4., 4., 4., 4.],
       [1., 1., 1., 1.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [120]:
arr[[-1,-2,-3]]

# 색인으로 음수를 사용하면 끝에서부터 선택된다.

array([[7., 7., 7., 7.],
       [6., 6., 6., 6.],
       [5., 5., 5., 5.]])

In [123]:
arr = np.arange(32).reshape((8,4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [132]:
arr[[0,1,2,3],[0,1,2,3]]

# 첫번째 행부터 4번째 행까지, 각 1,2,3,4번째 원소 값

array([ 0,  5, 10, 15])

### 배열 전치와 축 바꾸기

배열 전치는 데이터를 복사하지 않고 데이터의 모양이 바뀐 뷰를 반환하는 특별한 기능이다.

ndarray는 transpose 메소드와 t라는 이름의 특수한 속성을 가지고 있다.

In [134]:
arr = np.arange(15).reshape((3,5))

arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [137]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

행렬 계산을 할 때 행렬의 내적은 **np.dot**을 이용해서 구할 수 있다.

In [139]:
arr = np.random.randn(6,3)
arr

array([[-0.46444581, -0.34853032,  0.4079394 ],
       [-0.71037625, -0.17929989,  0.88418759],
       [-0.3367114 , -0.53617155,  1.62754742],
       [-0.18564526,  0.46287257, -0.78560792],
       [-1.01955526, -0.33421194,  0.55998765],
       [-0.57450273,  1.77611326,  0.80433088]])

In [141]:
np.dot(arr,arr.T)

array([[ 0.50359785,  0.75311768,  1.00719696, -0.39558338,  0.81845219,
        -0.02408568],
       [ 0.75311768,  1.31857055,  1.77438451, -0.64573979,  1.27932613,
         0.80083555],
       [ 1.00719696,  1.77438451,  3.04976512, -1.46428437,  1.43389727,
         0.55022687],
       [-0.39558338, -0.64573979, -1.46428437,  0.86589498, -0.40535266,
         0.29687912],
       [ 0.81845219,  1.27932613,  1.43389727, -0.40535266,  1.46477671,
         0.44255438],
       [-0.02408568,  0.80083555,  0.55022687,  0.29687912,  0.44255438,
         4.13157986]])

다차원 배열의 경우 transpose 메소드는 튜플로 축 번호를 받아서 치환한다

In [143]:
arr = np.arange(16).reshape((2,2,4))
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [144]:
arr.transpose((1,0,2))

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])